Source: b-icons
Section: gnome
Priority: optional
Maintainer: Juzer Dana <juzerdana@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: https://github.com/burhanilinux/b-icons.git


Package: b-icons
Architecture: all
Depends: ${misc:Depends}
Description: B-icons Theme
 B-icons desktop theme
 B-icons is a stylized Tango-esque Linux desktop icon set. They are designed to be a clear, simple and consistent.
